.circle{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    position: relative;
}
.second{
    width: 1px;
    height: 140px;
    position: absolute;
    left: 150px;
    top: 10px;
    background: black;
}
.minute{
    width: 1px;
    height: 120px;
    position: absolute;
    left: 150px;
    top: 30px;
    background: black;
    transform-origin: 50% 100%;
}
.hour{
    width: 1px;
    height: 70px;
    position: absolute;
    left: 150px;
    top: 80px;
    background: black;
    transform-origin: 50% 100%;
}
#hourshandle{
    transform-origin: 50% 100%;
    transition: all 0.4s ease;
}
#minuteshandle{
    transform-origin: 50% 100%;
    transition: all 0.4s ease;
}
#secondshandle{
    transform-origin: 50% 100%;
    transition: all 0.4s ease;
}
.number{
    position: absolute;
}
.twelve{
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
}
.six{
    top: calc(100% - 3px);
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
}
.three{
    top: 50%;
    left: calc(100% - 3px);
    transform: translateX(-100%) translateY(-50%);
}
.nine{
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
}
.one{
    top: 10%;
    left: 75%;
    transform: translateX(-100%);
}
.two{
    top: 25%;
    left: 92%;
    transform: translateX(-100%);
}
.four{
    top: 70%;
    left: 92%;
    transform: translateX(-100%);
}
.five{
    top: 88%;
    left: 75%;
    transform: translateX(-100%);
}
.seven{
    top: 87%;
    left: 26%;
    transform: translateX(-100%);
}
.eight{
    top: 70%;
    left: 10%;
    transform: translateX(-100%);

}
.ten{
    top: 25%;
    left: 10%;
    transform: translateX(-50%);
}
.eleven{
    top: 10%;
    left: 25%;
    transform: translateX(-50%);
}
.dot{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border: 2px solid black;
}
.hours, .minutes, .seconds{
    margin-bottom: 20px
}
.inblo{
    display: inline-block;
    margin-left: 20px;
}
.block{
    width: 25px;
    height:25px;
    display: inline-block;
    margin: -2px 0;
}
#container{
    width: 250px;
    display: inline-block;
    margin-left: -4px;
}
#container:nth-child(2){
    transform: scaleX(-1);
}
#wrapper{
}
